<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>家計簿</title>
</head>
<body>
    <div th:replace="~{block/header::headerAccount}"></div>
    <h1>登録完了画面</h1>
    <h2>登録完了しました！！</h2>

   

    <div id="top">
        <a th:href="@{/account}"><input type="button" value="トップに戻る"></a>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>