<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>家計簿</title>
</head>
<body>
	<div th:replace="~{block/header::headerAccount}"></div>
	<h1>更新完了画面</h1>
	<h2>データを更新完了しました！！</h2>

	<table class="table table-striped">
		<tr>
			<th>日時</th>
			<th>種別</th>
			<th>品名</th>
			<th>金額</th>
		</tr>
		<tr>
			<td th:text="${account.date}"></td>
			<td th:if="${account.type == 1}">食費</td>
			<td th:if="${account.type == 2}">趣味</td>
			<td th:if="${account.type == 3}">教養</td>
			<td th:text="${account.item}"></td>
			<td th:text="${account.price} + '円'"></td>
		</tr>
	</table>

	<div id="top">
		<a th:href="@{/account}"><input type="button" value="トップに戻る"></a>
	</div>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>